<!--The whole content below can be removed with the new code.-->
<div class="wishlist wl-app columns is-gapless">
    <div class="column wl-sidebar is-one-quarter has-text-centered">
        <div class="wl-menu">
            <div class="wl-menu-brand">
                <strong class="title is-3"><span class="fa fa-magic"></span> Wishlist</strong>
            </div>
            <ul class="wl-menu-list">
                <li class="wl-menu-item">
                    <a routerLink="/item/new"><span class="fa fa-plus"></span> Add New Item</a>
                </li>
                <li class="wl-menu-item">
                    <a routerLink="/list"><span class="fa fa-list"></span> View Wishlist</a>
                </li>
            </ul>
        </div>
        <!--<nav class="nav">-->
        <!--<div class="container is-fluid">-->
        <!--</div>-->
        <!--</nav>-->
    </div>
    <div class="column wl-content">
        <section class="section">
            <div class="container">
                <h1 class="title">
                    Hello World
                </h1>

                <router-outlet></router-outlet>
            </div>
        </section>
    </div>
    <div class="footer">
        <p>Wishlist App</p>
    </div>
</div>

