/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/sass/utilities/initial-variables";

$red: #A2101D;

@import "../node_modules/bulma/bulma";
@import "../node_modules/font-awesome/css/font-awesome.css";


// Forms
.ng-dirty {
  //&.ng-valid[required], &.ng-valid.required {
  //  @extend .is-success;
  //}
  &.ng-invalid:not(form) {
    @extend .is-danger;
  }
}

// https://github.com/twbs/bootstrap/issues/15274
[hidden] {
  display: none;
}

.wl- {
  &app {
    height: 100vh;
  }

  &sidebar {
    background-color: $purple;
    color: $white;
  }

  $menu-color: $white;
  &menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
  }
  &menu-brand {
    flex-grow: 1;
    padding: 10px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    > .title {
      color: $menu-color;
    }
  }
  &menu-list {
    border-top: 1px solid white;
  }
  &menu-item {
    flex-grow: 1;
    display: block;
    padding: 1em;

    a {
      color: $menu-color;
    }
  }

  &content {

  }
}